/* définition de polices */

@font-face {
    font-family: 'HeaderPolice';
    src: url('polices/GoodDog.otf');
}

/* Eléments principaux de la page */
 
body
{
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: black;
    background-color:#FFE4C4;
}
 
section
{
    margin: auto;
    border: 1px solid black;
    text-align: justify;
    padding: 20px;
    margin:30px;
    background-color:white;
}
 
section h1, footer h1
{
    font-family: Arial, serif;
    font-weight: normal;
    text-transform: uppercase;
}

section a
{
	color:red;
}
/* Header */
 
header
{
    background: url('images/separateur.png') repeat-x bottom;
    font-family: 'HeaderPolice', serif;
    font-size: 1.5em;
    height: 130px;
    color : #BDBDBD;
    background-color:beige;
}
 
#title
{
    display: inline-block;
}
 
header h1
{
    font-size: 2.5em;
    font-weight: normal;
    display: inline-block;
    margin-bottom: 0px;
}

 
header h2
{
    font-size: 0.9em;
    margin-top: 0px;
    font-weight: normal;
    position: absolute;
    right: 10px;
    top: 10px;
}


/* Navigation */
 
nav
{
    display: inline-block;
    text-align: right;
    font-family: 'HeaderPolice', serif;
    position: absolute;
    right: 50px;
    top: 70px;
}
 
nav ul
{
    list-style-type: none;
}
 
nav li
{
    display: inline-block;
    margin-right: 15px;
}
 
nav a
{
    font-size: 1.1em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}
 
nav a:hover
{
    color: #760001;
    border-bottom: 3px solid #760001;
}


/* Compiler */

#sequents, #input
{
	display: inline-block;
	margin-right: 45px;
	padding:8px;
	vertical-align:top;
}
