<!DOCTYPE html>
<html lang="fr">
<head>
   <title>{% block title %}Soogfish{% endblock %}</title>
    <link rel="stylesheet" type="text/css" media="all" href="/static/css/base.css" />
</head>
 
<body>
<div id="bloc_page" >
	<header>
		<div id="title">
			<h1>SoogFish!</h1>
			{% if user.is_authenticated %}
			<h2>Hi {{ user.username }}</h2>
			{% else %}
			<h2> <a href="/accounts/login/">Log in</a> </h2>
			{% endif %}
		</div>
		
		<nav>
			<ul>
				<li><a href="/library/home/">HOME</a></li>
				<li><a href="/fishing/">DEMONSTRATE</a></li>
				<li><a href="/library/doc/">DOC</a></li>
				<li><a href="/library/example/">EXEMPLE</a></li>
				<li><a href="/library/list/">LIBRARY</a></li>
			</ul>
		</nav>
	</header>
 
 

	<section id="content">
	       	{% block content %}
       		<p>
       		Soogfish est un site dédié à la vérification formelle de preuve. <br/>
       		Allez voir à la section EXAMPLE pour voir un exemple de preuve. <br/>
       		Vous pouvez aussi voir toutes les lemmes établis à la section LIBRARY. <br/>
       		Vous devez être connecté pour éditer une preuve
       		</p>
	       	{% endblock %}
	</section>
 
<footer><br/>© frednboria</footer>
</div>
</body>
</html>
