<!DOCTYPE html>
<html lang="fr">
<head>
   <title>{% block title %}When Peano Sets Out{% endblock %}</title>
    <link rel="stylesheet" type="text/css" media="all" href="/static/css/base.css" />
</head>
 
<body>
	<div id="page">
	<header>
		
		<h1>WPSO</h1>
		{% if user.is_authenticated %}
		<h2>Hi {{ user.username }}</h2>
		{% else %}
		<h2> <a href="/accounts/login/">Log in</a> or <a href="/accounts/register/">Sign in</a> </h2>
		{% endif %}
		
		
		<nav>
			<ul>
				<li><a href="/library/home/">HOME</a></li>
				<li><a href="/logic/fishing/">DEMONSTRATE</a></li>
				<li><a href="/library/doc/">DOC</a></li>
				<li><a href="/community/">COMMUNITY</a></li>
				<li><a href="/library/list/">LIBRARY</a></li>
			</ul>
		</nav>
	</header>
 
 	<span style="font-size: 90px; font-weight: bold; color: red;">FREDERIC EST UN GROS DEBILE</span>

	<section id="content">
	       	{% block content %}
	       	<div id="text">
       		<p>Bienvenue sur WPSO, l'assistant de preuve web dans l'arithmétique de Peano. Ici, vous pouvez démontrer formellement des théorèmes mathématiques, c'est-à-dire en construire avec le calcul des séquents dans la section demonstrate, puis l'enregistrer. Il est possible d'utiliser dans une preuve les lemmes déjà prouvés.</p>
       		<p> Allez à la section Library pour voir toutes les propositions établies. La section Doc regroupe la documentation des instructions qui vous seront nécessaires pour ensuite établir votre théorème, dans la section Demonstrate. Enfin, la section Community est la partie vivante du site, pour échanger et suivre les avancée tant dans les lemmes démontrés que dans le developpement informatique du projet.</p>
       		<p> !! Le site est toujours en phase de développement, il est normal de tomber sur des disfonctionnements, n'hésitez pas à les signalez sur <a href="https://github.com/frednboria/wpso">Github</a>. En particuler, il manque la multiplication. Rejoignez aussi la page Github pour plus d'informations et poser des questions.</p>
       		</div>
 
	       	<div id="panel">
       			<img src="/static/img/atomic_fractal.jpg" alt="Image de Fractale" />
       		</div>
       		
       		
	       	{% endblock %}
	</section>
 
	<footer><a href="/about/">about</a></footer>
	</div>
</body>
</html>
