<!DOCTYPE html>
<html lang="fr">
<head>
   <title>{% block title %}Soogfish{% endblock %}</title>
</head>
 
<body>
 
<header>SoogFish! Welcome {{ user.username }} </header>
    <nav>
       <ul>
           <li><a href="/">HOME</a></li>
 	   <li><a href="/fishing/">GO FISHING</a></li>
 	   <li><a href="/doc/">DOC</a></li>
 	   <li><a href="/example/">EXEMPLE</a></li>
 	   <li><a href="/library/">LIBRARY</a></li>
       </ul>
   </nav>
 
   <section id="content">
       {% block content %}<h1> I've been crawling </h1>{% endblock %}
   </section>
 
<footer>© frednboria</footer>
</body>
</html>
