{% extends "base.html" %}

{% block title %}Create an account{% endblock %}

{% block content %}

	<h2> About WPSO </h2>
	<p> When Peano Set Out est un projet Open Source sous license GPL. Pour rejoindre le projet, vous pouvez envoyer un mail à f.lang@hotmail.fr ou directement contribuer sur <a href = "https://github.com/frednboria/wpso" >Github</a> si par exemple vous avez une idée d'amélioration ou que vous avez repéré un bug. Le projet en est à ses début, donc si vous êtes connaisseur en calcul de séquent, démontrez des théorèmes pour en faire profiter aux autres ! </p>
	
	<p> Créé par Frédéric Lang dans le cadre de sa candidature aux ENS et à l'université Diderot </p>

{% endblock %}
